footer {
  padding: 35px 15px 28px 15px;
  background-color: $blue;
  @include primary-text(1em, 300, normal, $white);
  p {
  	display: inline-block;
  }
  img {
  	padding-left: 10px;
  	width: 50px;
  }
}