@import "bootstrap";

// ------ Variables ------

// primary color
$blue: #4C5763;
$bluegreen: #2FD3BF;
$green: #3EC173;
$yellow: #E5BD41;
$orange: #E0813B;
$red: #C64C46;

// secondary color
$darkblue: darken($blue, 14%);
$bluegrey: #485561; // (grader directory)
$lightblue: #DFE9ED; // (light version bg color)
$lightbluegrey: #F0F7F6; // (vanilla button color)
$white: #FFFFFF; // (standard white for bgs and whatnots)

// type
$primary-typeface: 'Source Sans Pro', sans-serif;
$secondary-typeface: 'Fjalla One', sans-serif;

// ------ Mixins ------

// Text
@mixin primary-text($size, $weight, $style, $color) {
    font-family: $primary-typeface;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}

@mixin secondary-text($size, $color) {
    font-family: $secondary-typeface;
    font-size: $size;
    color: $color;
}

// Button
@mixin primary-button($bg-color, $color, $padding-t, $padding-b) {
    padding: $padding-t 0 $padding-b 0;
    height: 40px;
    width: 100%;
    background-color: $bg-color;
    color: $color;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid darken($bg-color, 7%);
    border-bottom: 3px solid darken($bg-color, 10%);
    outline: none;
    @include transition(all 80ms ease-in);
    &:hover {
        background-color: lighten($bg-color, 5%);
        border-color: darken($bg-color, 10%);
        border-bottom-color: darken($bg-color, 15%);
    }
    &:active {
        margin-top: 2px;
        border-width: 1px;
        height: 38px;
    }
}

// Bar Graph Bar
@mixin bar($width, $color) {
	height: 34px;
	div {
		&:first-of-type {
			display: inline-block;
			width: $width;
			height: 34px;
			background-color: darken($color, 5%);
			border-right: 3px solid lighten($color, 10%);
		}
		&:nth-of-type(2) {
			display: inline-block;
			padding: 7px 0 30px 10px;
			height: 34px;
			vertical-align: top;
			font-weight: 200;
		}
	}
}

// ----- Clearfix -----
// Apply class "group" to the parent of floated element(s)
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

// ----- Global -----
body {
	font-family: $primary-typeface;
	letter-spacing: 0.04em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $secondary-typeface;
}

.container-fluid {
	max-width: 1100px;
	padding: 0;
}

// ----- Header -----
header {
	padding: 35px 15px 35px 15px;
	background-color: $blue;
	height: 110px;
  nav {
  	ul {
  		margin-bottom: 0;
  		padding: 10px 0 0 0;
	    a {
	      padding: 46px 10px 36px 10px;
	      @include secondary-text(1.4em, $white);
	      transition: all 100ms ease-in;
	      &:hover {
	      	background-color: darken($blue, 12%);
          color: $bluegreen;
          text-decoration: none;
          border-bottom: 3px solid $bluegreen;
	      }
	    }
	  }
  }
  .logout {
    button {
      @include primary-text(1.2em, 300, normal, $white);
      @include primary-button(lighten($blue, 2%) , $white, 0px, 0px);
      span {
        padding-top: 2px;
        font-size: 1.2em;
      }
    }
  }
}

// ----- Profile -----
.profile {
	background-color: $darkblue;
	padding: 35px 15px 35px 15px;
	.profile-image {
		padding: 0 15px 0 15px;
		img {
			display: block;
	    margin: auto;
			width: 100%;
			max-width: 270px;
			border-radius: 50%;
		}
	}
	.profile-info {
		height: 270px;
		p {
			font-size: 1.2em;
			font-weight: 200;
			color: darken($white, 10%);
			span {
				padding-right: 10px;
				font-size: 0.85em;
				font-weight: 600;
				color: lighten($blue, 15%);
			}
		}
		a {
			display: inline-block;
			font-weight: 200;
			color: darken($white, 10%);
			text-decoration: underline;
			cursor: pointer;
			&:hover {
				color: $bluegreen;
			}
		}
	}
	.stats-wide {
		padding-bottom: 10px;
		// If there were to be a wide box at the bottom the last would have bottom padding removed
		&:last-of-type {
			padding-bottom: 0;
		}
		.stats-wide-inner {
			padding: 15px;
			height: 100px;
			background-color: $blue;
			transition: all 200ms ease-in;
			&:hover {
				background-color: darken($blue, 18%);
				border-right: 4px solid $bluegreen;
				cursor: pointer;
				.stats-content {
					color: $bluegreen;
				}
			}
			.stats-content {
				margin: 0 auto;
				display: inline-block;
				@include secondary-text(3.8em, darken($white, 3%));
				.stats-number {
					display: inline-block;
				}
				.stats-text {
					display: inline-block;
					font-size: 0.4em;
					line-height: 0.7em;
				}
			}
		}
	}
	.stats-half {
		padding-bottom: 10px;
		// Only the last two have padding bottom removed
		&:nth-last-of-type(-n+2) {
			padding-bottom: 0;
		}
		.stats-half-inner {
			padding: 15px;
			height: 75px;
			background-color: $blue;
			transition: all 200ms ease-in;
			&:hover {
				background-color: darken($blue, 18%);
				cursor: pointer;
				border-right: 3px solid $bluegreen;
				.stats-content {
					color: $bluegreen;
				}
			}
			.stats-content {
				margin: 0 auto;
				display: inline-block;
				@include secondary-text(2.6em, darken($white, 3%));
				.stats-number {
					display: inline-block;
				}
				.stats-text {
					display: inline-block;
					font-size: 0.4em;
					line-height: 0.6em;
				}
			}
		}
	}
}

// ----- Filter section -----
.filter-module {
	padding: 35px 15px 35px 15px;
  .button-wrapper {
  	padding-top: 54px;
  	&:nth-of-type(2) {
  		padding-top: 0px;
  	}
    p {
      margin: 0 0 30px 0;
      width: 100%;
      text-align: center;
      @include primary-text(1.2em, 300, normal, $blue);
    }
    ul {
      padding: 12px 0 12px 0;
      width: 100%;
      li {
        padding: 3px 10px 3px 10px;
        text-align: center;
        a {
          @include primary-text(1.2em, 300, normal, $blue);
          width: 100%;
          height: 100%;
          outline: none;
          &:hover {
            // text-decoration: none;
          }
        }
        &:hover {
          background-color: #C4F478;
          // cursor: pointer;
        }
      }
    }
    button {
      @include primary-button($lightblue, $blue, 0px, 0px);
      font-weight: 300;
      font-size: 1.2em;
      .glyphicon {
      	font-size: 0.86em;
      }
    }
    .select {
    	@include primary-button($blue, $white, 0px, 0px);
    	font-weight: 300;
      font-size: 1.2em;
    }
  }
}

// ----- Graph Section 1 -----
.graph-1 {
	padding: 35px 15px 35px 15px;
	background-color: $darkblue;
	.graph-key {
		margin-bottom: 45px;
		color: $white;
		.graph-key-item {
			&:first-of-type {
				.key-item-swatch {
					background-color: $red;
				}
			}
			&:nth-of-type(2) {
				.key-item-swatch {
					background-color: $orange;
				}
			}
			&:nth-of-type(3) {
				.key-item-swatch {
					background-color: $yellow;
				}
			}
			&:nth-of-type(4) {
				.key-item-swatch {
					background-color: $green;
				}
			}
			&:nth-of-type(5) {
				.key-item-swatch {
					background-color: $bluegreen;
				}
			}
			.key-item-swatch {
				display: inline-block;
				margin-right: 5px;
				width: 12px;
				height: 12px;
			}
			p {
				display: inline-block;
				@include primary-text(1em, 200, light, $white);
			}
		}
	}
	.user-card-small {
		padding: 25px;
		height: 230px;
		background-color: $blue;
		color: $white;
		font-weight: 200;
		text-align: center;
		line-height: 1.2em;
		img {
			display: inline-block;
	    margin: auto;
	    margin: 0 0 16px 0;
			width: 100%;
			max-width: 126px;
			border-radius: 50%;
		}
		.user-name {
			font-size: 1.2em;
			font-weight: 400;
		}
		.user-type {

		}
	}
	.user-stats-small {
		margin-bottom: 10px;
		padding: 15px;
		height: 110px;
		background-color: $blue;
		color: $white;
		text-align: center;
		line-height: 1.6em;
		// The last of these in a column will have no bottom padding
		&:last-of-type {
			margin-bottom: 0;
		}
		.user-stats-title {
			font-weight: 200;
		}
		.user-stats-count {
			@include secondary-text(1.4em, $white);
		}
	}
	.user-graph {
		padding-bottom: 30px;
		&:last-of-type {
			padding-bottom: 0px;
		}
		.user-graph-inner {
			padding: 30px 15px 30px 0;
			height: 230px;
			background-color: $blue;
			color: $white;
			.bar {
				&:first-of-type {
					@include bar(45%, $bluegreen);
				}
				&:nth-of-type(2) {
					@include bar(67%, $green);
				}
				&:nth-of-type(3) {
					@include bar(32%, $yellow);
				}
				&:nth-of-type(4) {
					@include bar(24%, $orange);
				}
				&:nth-of-type(5) {
					@include bar(7%, $red);
				}
			}
		}
	}
}

// ----- Button Gallery section -----
.button-gallery {
	padding: 35px 15px 35px 15px;
  .button-wrapper {
  	height: 130px;
  	// remove margin bottom from the last 6
  	&:nth-last-child(-n+6) {
	  	height: 95px;
	  }
  	button {
  		font-weight: 300;
	    font-size: 1.2em;
  	}
  	&:first-of-type {
	  	button {
	      @include primary-button($red, $white, 0px, 0px);
	  	}
	  }
	  &:nth-of-type(2) {
	  	button {
	      @include primary-button($blue, $white, 0px, 0px);
	  	}
	  }
	  &:nth-of-type(3) {
	  	button {
	      @include primary-button($green, $white, 0px, 0px);
	  	}
	  }
	  &:nth-of-type(4) {
	  	button {
	      @include primary-button($yellow, $white, 0px, 0px);
	  	}
	  }
	  &:nth-of-type(5) {
	  	button {
	      @include primary-button($bluegreen, $white, 0px, 0px);
	  	}
	  }
	  &:nth-of-type(6) {
	  	button {
	      @include primary-button($orange, $white, 0px, 0px);
	  	}
	  }
	  &:nth-of-type(7) {
	  	button {
	      @include primary-button($darkblue, $white, 0px, 0px);
	  	}
	  }
	  &:nth-of-type(8) {
	  	button {
	      @include primary-button($lightbluegrey, $blue, 0px, 0px);
	  	}
	  }
	  &:nth-of-type(9) {
	  	button {
	      @include primary-button($lightblue, $blue, 0px, 0px);
	  	}
	  }
    p {
      margin: 0 0 30px 0;
      width: 100%;
      text-align: center;
      @include primary-text(1.2em, 300, normal, $blue);
    }
  }
}

// ----- List Section 1 -----
.list-module {
	padding: 35px 15px 35px 15px;
	background-color: $darkblue;
	.user-card-med {
		padding-bottom: 10px;
		.user-card-med-inner {
			padding: 30px;
			height: 430px;
			background-color: $blue;
			color: $white;
			font-weight: 200;
			text-align: center;
			line-height: 1.2em;
			img {
				display: inline-block;
		    margin: auto;
		    margin: 0 0 16px 0;
				width: 100%;
				max-width: 180px;
				border-radius: 50%;
			}
			.user-name {
				font-size: 1.2em;
				font-weight: 400;
			}
		}
	}
	.pull-right {
		padding: 0;
		// Remove bottom padding from the last user-stats-med
		&:last-of-type {
			.user-stats-med {
				padding-bottom: 0;
			}
		}
		.user-stats-med {
			padding-bottom: 10px;
			.user-stats-med-inner {
				position: relative;
				padding: 20px 15px 20px 15px;
				height: 100px;
				background-color: $blue;
				font-weight: 200;
				font-style: italic;
				color: $white;
				text-align: center;
				line-height: 1.6em;
				transition: all 200ms ease-in;
				&:hover {
					// padding-left: 19px;
					background-color: darken($blue, 18%);
					border-right: 4px solid $bluegreen;
					cursor: pointer;
					p {
						color: $bluegreen;
					}
					.link-helper {
						display: inline-block;
					}
				}
				.assignment {
					font-style: normal;
					font-size: 1.2em;
				}
				.assessment {
					@include secondary-text(1.4em, $bluegreen);
					font-style: normal;
					line-height: 60px;
				}
				.link-helper {
					display: none;
					width: 80%;
					position: absolute;
					top: 65px;
					left: 10%;
					right: 10%;
					transition: all 200ms ease-in;
				}
			}
		}
		// Every other list row has slightly darker background
		&:nth-of-type(even) {
			.user-stats-med-inner {
				background-color: darken($blue, 5%);
			}
		}
	}
}

// Still to do:
// compile layouts into a pdf and annotate
// Update nav menu responsiveness
	 // fix broken responsive elements throughout
// style dropdowns

// develop planner and grader
// update collector with newer styling considerations
// spend some time with chartist graphs

