@import "bootstrap";

// ------ Variables ------

// primary color
$blue: #4C5763;
$bluegreen: #2FD3BF;
$green: #3EC173;
$yellow: #E5BD41;
$orange: #E0813B;
$red: #C64C46;

// secondary color
$darkblue: darken($blue, 14%);
$bluegrey: #485561; // (grader directory)
$lightblue: #DFE9ED; // (light version bg color)
$lightbluegrey: #F0F7F6; // (vanilla button color)
$white: #FFFFFF; // (standard white for bgs and whatnots)

// type
$primary-typeface: 'Source Sans Pro', sans-serif;
$secondary-typeface: 'Fjalla One', sans-serif;

// ------ Mixins ------

// Text
@mixin primary-text($size, $weight, $style, $color) {
    font-family: $primary-typeface;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}

@mixin secondary-text($size, $color) {
    font-family: $secondary-typeface;
    font-size: $size;
    letter-spacing: 0.06em;
    color: $color;
}

// Button
@mixin primary-button($bg-color, $color, $padding-t, $padding-b) {
    padding: $padding-t 0 $padding-b 0;
    height: 40px;
    width: 100%;
    background-color: $bg-color;
    color: $color;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid darken($bg-color, 7%);
    border-bottom: 3px solid darken($bg-color, 10%);
    outline: none;
    @include transition(all 80ms ease-in);
    &:hover {
        background-color: lighten($bg-color, 5%);
        border-color: darken($bg-color, 10%);
        border-bottom-color: darken($bg-color, 15%);
    }
    &:active {
        margin-top: 2px;
        border-width: 1px;
        height: 38px;
    }
}

// ----- Global -----
body {
	font-family: $primary-typeface;
	letter-spacing: 0.04em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $secondary-typeface;
}

.container-fluid {
	max-width: 1020px;
	padding: 0;
}

// ----- Header -----
header {
	padding: 30px 15px 30px 15px;
	background-color: $blue;
	height: 100px;
  nav {
  	ul {
  		margin-bottom: 0;
  		padding: 10px 0 0 0;
	    a {
	      padding: 40px 10px 31px 10px;
	      @include secondary-text(1.4em, $white);
	      transition: all 100ms ease-in;
	      &:hover {
	      	background-color: darken($blue, 12%);
          color: $bluegreen;
          text-decoration: none;
          border-bottom: 3px solid $bluegreen;
	      }
	    }
	  }
  }
  .logout {
    button {
      @include primary-text(1.2em, 300, normal, $white);
      @include primary-button(lighten($blue, 2%) , $white, 0px, 0px);
      span {
        padding-top: 2px;
        font-size: 1.2em;
      }
    }
  }
}

// ----- Profile -----
.profile {
	background-color: $darkblue;
	padding: 30px 15px 30px 15px;
	.profile-image {
		padding: 0 15px 0 15px;
		img {
			display: block;
	    margin: auto;
			width: 100%;
			max-width: 270px;
			border-radius: 50%;
		}
	}
	.profile-info {
		height: 270px;
		p, a {
			display: block;
			font-size: 1.2em;
			font-weight: 200;
			color: darken($white, 10%);
		}
		a {
			margin-bottom: 10px;
			cursor: pointer;
		}
		.settings {
			color: $bluegreen;
		}
	}
	.stats-wide {
		padding-bottom: 10px;
		// If there were to be a wide box at the bottom the last would have bottom padding removed
		&:last-of-type {
			padding-bottom: 0;
		}
		div {
			height: 100px;
			background-color: $blue;
		}
	}
	.stats-half {
		padding-bottom: 10px;
		// Only the last two have padding bottom removed
		&:nth-last-of-type(-n+2) {
			padding-bottom: 0;
		}
		div {
			height: 75px;
			background-color: $blue;
		}
	}
}

// ----- Filter section -----
.filter-module {
	padding: 30px 15px 30px 15px;
  .dropdown {
    p {
      margin: 0 0 30px 0;
      width: 100%;
      text-align: center;
      @include primary-text(1.2em, 300, normal, $blue);
    }
    ul {
      padding: 12px 0 12px 0;
      width: 100%;
      li {
        padding: 3px 10px 3px 10px;
        text-align: center;
        a {
          @include primary-text(1.2em, 300, normal, $blue);
          width: 100%;
          height: 100%;
          outline: none;
          &:hover {
            // text-decoration: none;
          }
        }
        &:hover {
          background-color: #C4F478;
          // cursor: pointer;
        }
      }
    }
    button {
      @include primary-button($blue, $white, 0px, 0px);
      font-weight: 300;
      font-size: 1.2em;
    }
  }
}


