<section class='filter-module'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-4'>
        <div class='dropdown'>
          <h4>Course</h4>
          <button id='dropdownMenu1' type='button' data-toggle='dropdown' class='dropdown-toggle'>
            <span class='button-text'>choose</span>
            <span class='caret'></span>
          </button>
          <ul role='menu' aria-labelledby='dropdownMenu1' class='dropdown-menu' id='course-list-dropdown'>
          </ul>
        </div>
      </div>
      <div class='timeline col-xs-4'>
        <div class='dropdown'>
          <h4>Timeline</h4>
          <button id='dropdownMenu1' type='button' data-toggle='dropdown' class='dropdown-toggle'>
            <span class='button-text'>choose</span>
            <span class='caret'></span>
          </button>
          <ul role='menu' aria-labelledby='dropdownMenu1' class='dropdown-menu' id='timeline-list-dropdown'>
          </ul>
        </div>
      </div>
      <div class='week col-xs-4'>
        <div class='dropdown'>
          <h4>Week</h4>
          <button id='dropdownMenu1' type='button' data-toggle='dropdown' class='dropdown-toggle'>
            <span class='button-text'>choose</span>
            <span class='caret'></span>
          </button>
          <ul role='menu' aria-labelledby='dropdownMenu1' class='dropdown-menu' id='week-list-dropdown'>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>