<section class="graph-1">
	<div class='container-fluid'>
		<div class="row">
			<div class="graph-key">
				<div class="graph-key-item col-xs-4 col-sm-2 col-sm-offset-2">
					<div class="key-item-swatch"></div>
					<p>No Submission</p>
				</div>
				<div class="graph-key-item col-xs-4 col-sm-2">
					<div class="key-item-swatch"></div>
					<p>Incomplete</p>
				</div>
				<div class="graph-key-item col-xs-4 col-sm-2">
					<div class="key-item-swatch"></div>
					<p>Unsatisfactory</p>
				</div>
				<div class="graph-key-item col-xs-4 col-sm-2">
					<div class="key-item-swatch"></div>
					<p>Satisfactory</p>
				</div>
				<div class="graph-key-item col-xs-4 col-sm-2">
					<div class="key-item-swatch"></div>
					<p>Exceptional</p>
				</div>
			</div>
		</div>
    <div class='row'>
      <div class="user-card-small col-xs-6 col-sm-2">
        <div class="user-card-small-inner">
          <img src="/assets/images/jumboshrimp.jpg">
          <p class="user-name">Jumbo Shrimp</p>
          <p class="user-type">Front-End Instructor</p>
        </div>
      </div>
      <div class="user-stats-small col-xs-6 col-sm-2">
        <div class="user-stats-small-inner">
          <p class="user-stats-title">Average Amount of Feedback</p>
          <p class="user-stats-count">418 Words</p>
        </div>
        <div class="user-stats-small-inner">
          <p class="user-stats-title">Average Feedback Time</p>
          <p class="user-stats-count">28 Hours</p>
        </div>
      </div>
      <div class="user-graph col-xs-12 col-sm-8">
      	<div class="user-graph-inner">

      	</div>
      </div>
      <div class="user-card-small col-xs-6 col-sm-2">
        <div class="user-card-small-inner">
          <img src="/assets/images/samkap.jpg">
          <p class="user-name">Sam Kap</p>
          <p class="user-type">Web Design Instructor</p>
        </div>
      </div>
      <div class="user-stats-small col-xs-6 col-sm-2">
        <div class="user-stats-small-inner">
          <p class="user-stats-title">Average Amount of Feedback</p>
          <p class="user-stats-count">240 Words</p>
        </div>
        <div class="user-stats-small-inner">
          <p class="user-stats-title">Average Feedback Time</p>
          <p class="user-stats-count">12 Hours</p>
        </div>
      </div>
      <div class="user-graph col-xs-12 col-sm-8">
      	<div class="user-graph-inner">

      	</div>
      </div>
    </div>
  </div>
</section>