<header>
  <div class='container-fluid'>
    <div class='row'>
      <nav class='col-xs-9'>
        <ul class='list-inline'>
          <li><a href='#/' class="active">DASHBOARD</a>
          </li>
          <li><a href='#/'>COLLECTOR</a>
          </li>
          <li><a href='#/'>PLANNER</a>
          </li>
          <li><a href='#/'>GRADER</a>
          </li>
        </ul>
      </nav>
      {{!-- <div class='logout visible-xs-inline-block col-xs-2'>
        <button><span class="glyphicon glyphicon-user"></span></button>
      </div> --}}
      <div class='logout col-xs-3'>
        <a href="#">
          <span class="glyphicon glyphicon-cog"></span>
          <span class="hidden-xs">settings</span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-user"></span>
          <span class="hidden-xs">logout</span>
        </a>
      </div>
    </div>
  </div>
</header>