<section class="graph-2">
	<div class='container-fluid'>
    <div class='row'>
      <div class="user-card-med col-xs-12 col-sm-3">
        <div class="user-card-med-inner">
          <img src="/assets/images/andrew.jpg">
          <p class="user-name">Young Andrew</p>
          <p class="user-type">Front-End Engineering</p>
          <p class="user-semester">JS- Spring 2015</p>
        </div>
      </div>
      <div class="clearfix">
        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assignment">Backbone To-Do App</p>
              <p>Assigned: January 02, 2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assessment">Satisfactory</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January 03, 2015</p>
              <p>Updated: 33 days ago</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assignment">Backbone To-Do App</p>
              <p>Assigned: January 02, 2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assessment">Satisfactory</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January 03, 2015</p>
              <p>Updated: 33 days ago</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assignment">Backbone To-Do App</p>
              <p>Assigned: January 02, 2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assessment">Satisfactory</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January 03, 2015</p>
              <p>Updated: 33 days ago</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assignment">Backbone To-Do App</p>
              <p>Assigned: January 02, 2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assessment">Satisfactory</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January 03, 2015</p>
              <p>Updated: 33 days ago</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assignment">Backbone To-Do App</p>
              <p>Assigned: January 02, 2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assessment">Satisfactory</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January 03, 2015</p>
              <p>Updated: 33 days ago</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assignment">Backbone To-Do App</p>
              <p>Assigned: January 02, 2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p class="assessment">Satisfactory</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January 03, 2015</p>
              <p>Updated: 33 days ago</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>