<section class="profile">
  <div class='container-fluid'>
    <div class='row'>
      <div class="col-xs-6 col-sm-4">
        <div class="profile-image"></div>
      </div>
      <div class="profile-info col-xs-6 col-sm-4">
        
      </div>
      <div class="profile-stats">
        <div class="stats-wide col-xs-12 col-sm-4">
          <div></div>
        </div>
        <div class="stats-half col-xs-6 col-sm-2">
          <div></div>
        </div>
        <div class="stats-half col-xs-6 col-sm-2">
          <div></div>
        </div>
        <div class="stats-half col-xs-6 col-sm-2">
          <div></div>
        </div>
        <div class="stats-half col-xs-6 col-sm-2">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>