<section class="profile">
  <div class='container-fluid'>
    <div class='row'>
      <div class="profile-image col-xs-6 col-sm-4">
        <img src="/assets/images/mason.jpg">
      </div>
      <div class="profile-info col-xs-6 col-sm-4">
        <p><span>Name:</span> Mason Stewart</p>
        <p><span>Role:</span>Admin</p>
        <p><span>HipChat Handle:</span>@mason</p>
        <p><span>Twitter Handle:</span>@masondesu</p>
        <p><span>Blog:</span><a href="http://masondesu.com/">masondesu.com</a></p>
        <p><span>Email:</span><a href="mailto:mason@theironyard.com">mason@theironyard.com</a></p>
        <p><a href="#" class="settings">Settings</a></p>
      </div>
      <div class="stats-wide col-xs-12 col-sm-4">
        <div class="stats-wide-inner">
          <div class="stats-content">
            <div class="stats-number">
              <p>83</p>
            </div>
            <div class="stats-text">
              <p>TOTAL</p>
              <p>CONTRIBUTIONS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats-half col-xs-6 col-sm-2">
        <div class="stats-half-inner">
          <div class="stats-content">
            <div class="stats-number">
              <p>13</p>
            </div>
            <div class="stats-text">
              <p>GOALS</p>
              <p>ADDED</p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats-half col-xs-6 col-sm-2">
        <div class="stats-half-inner">
          <div class="stats-content">
            <div class="stats-number">
              <p>10</p>
            </div>
            <div class="stats-text">
              <p>RESOURCES</p>
              <p>ADDED</p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats-half col-xs-6 col-sm-2">
        <div class="stats-half-inner">
          <div class="stats-content">
            <div class="stats-number">
              <p>20</p>
            </div>
            <div class="stats-text">
              <p>ASSIGNMENTS</p>
              <p>ADDED</p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats-half col-xs-6 col-sm-2">
        <div class="stats-half-inner">
          <div class="stats-content">
            <div class="stats-number">
              <p>40</p>
            </div>
            <div class="stats-text">
              <p>JOURNALS</p>
              <p>ADDED</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>